body{
    display: flex;
    margin : 0;
    width : 100vw;
    height : 100vh;
}


button{
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 15px;
    padding: 4px 10px;
}
