* { margin: 0; padding: 0; box-sizing: border-box; color: white; }

body{
    height: 100vh;
    width : 100vw;
    background-color: black;
    background-image: url('../assets/color-explosion.jpg');
     background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

a:link{
    text-decoration: none;
}



/*  class names*/
.logo{
    position: relative;
    top: 10%;
    left: 1%;
}

.heading{
    position: relative;
    top: 20%;
    left: 2%;
}

.gridMain{
    display: grid;
     width : 100vw;
    height : 100vh;
    border: 1px solid red;
    grid-template-rows: 1fr 8fr;
    grid-template-columns: 1fr 1fr;
}

.gridItem{
    width: 100%;
    border: 1px solid blue;
}

.linkContainer{
    position: relative;
    width : 100%;
    left : 5%;
    top: 40%;
    
    
}

.linkItem{
    margin: auto 2%;
}

.textContainer{
    position: relative;
    left : 2%;
    top: 30%;
    width: 50%;
    height: 40%;
    border-radius: 15px;
    background-color: rgba(36, 36, 36, 0.716);
    border : 1px solid white;
}

/* class name */
#main{
    grid-column-start: 1;
    grid-column-end: 3;
}