* { margin: 0; padding: 0; box-sizing: border-box; color: white; }

body{
    
    background-color: black;
    background-image: url('../assets/color-explosion.jpg');
     background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

a:link{
    text-decoration: none;
}

a:hover {
    background-color: grey;
    cursor: pointer;
}


/*  class names*/
.logo{
    position: relative;
    top: 10%;
    left: 1%;
}

.heading{
    position: relative;
    top: 20%;
    left: 2%;
}

.gridMain{
    display: grid;
     width : 100vw;
    height : 100vh;
   
    grid-template-rows: 1fr 8fr;
    grid-template-columns: 1fr 1fr;
}

.gridItem{
  
border-bottom: 1px solid grey;
}

.linkContainer{
    position: relative;
    width : 100%;
    left : 5%;
    top: 40%;
    
    
}

.linkItem{
    margin: auto 2%;
}

.textContainer{
    position: relative;
    left : 2%;
    top: 30%;
    width: 50%;
    height: 40%;
    border-radius: 15px;
    background-color: rgba(36, 36, 36, 0.716);
    border : 1px solid white;
}

/* class name */
#main{
    grid-column-start: 1;
    grid-column-end: 3;
}

p{
    line-height: 4rem;
}

@media screen and (max-width: 780px) {
    p{
    line-height: 3rem;
}

}